
      
      
      .header
      {
        background-color: #0c3c60;

      }

      nav
      {
        text-align: center;
      }

      .nav-link
      {
        color: #f3fffe;
      }

      #brand
      {
        font-size: 30px;
      }

      #brand-first
      {
        color: #f3fffe;
      }

      #brand-last
      {
        color: #73c2d1;
      }

      i
      {
        color: #6ea4ca;
      }


      .nav-item
      {
        padding-right: 25px;
      }

      .nav-link:hover
      {
        color: #ccfcff;
      }

      .navbar-toggler
      {
        background-color: white;
      }

      .jumbotron
      {
        height: 70px;
        background-color: rgba(255,255,255,0.5); 
        text-align: center;
        color: #0c3c60;
        margin-bottom: 100px;
      }

      .card-body
      {
        background-color: #0c3c60;
        text-align: center;
        padding: 30px;
      }

      .card-title
      {
        color: #c7e1f2;
        
      }

      .card-text
      {
        color: #f5ffff;

      }

      .card-button
      {
        background-color: #39739b;
        border-radius: 0px;
        color: #e5f3fc;
      }

      .card
      {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      #about-us
      {
        color: #0c3c60;
        padding-top: 60px;
      }

      .about p
      {
        color: #0c3c60;

      }

      .about
      {
        background-color: #d2e0eb;
        padding: 100px;
        padding-top: 30px;
        text-align: center;
      }

      .paragraph-container
      {
        padding: 50px 150px;
        font-size: 15px;
      }

      .paragraph-button
      {
        background-color: #0c3c60;
        color: #e7ffff;
        border-radius: 0px;
        padding: 8px 30px;
      }

      .contact
      {
        background-color: #0c3c60;
        text-align: center;
        color: #fcffff;
      }

      #contact-header
      {
        color: #fcffff;
        padding: 70px 0px 60px 0px;
        font-size: 50px;
        font-weight: normal;
      }

      .form
      {
        text-align: left;
        font-size: 12px;
      }

      .contact-content
      {
        padding-left: 150px;
        padding-right: 150px;
        margin-bottom: 100px;
      }

      .form-area
      {
        width: 300px;
      }

      input{  
       text-indent: 10px;
      } 
      
      textarea
      {
        height: 85px;
        width: 300px;
        padding: 10px;
        margin-top: 10px;
      }

      #form-button
      {
        background-color: #39739b;
        color: #fcffff;
        border-radius: 0px;
        padding: 3px 35px;
        font-size: 14px;
      }

      #submit
      {
        text-align: right;
      }

      .footer
      {
        font-size: 12px;
        padding-top: 30px;
        padding-bottom: 40px;
        background-color: #0c3c60;
        color: #fcffff;
        text-align: center;
        

      }

      .social-icons
      {
        text-align: right;
        margin-left: 50px;

      }

      .copyright
      {
        text-align: left;
      }

      .fa-facebook-f
      {
        color: #fcffff;
        padding-left: 10px;
        font-size: 15px;
      }

      .fa-twitter
      {
        color: #fcffff;
        padding-left: 13px;
        font-size: 15px;
      }

      .fa-comment-dots
      {
        font-size: 25px;
        background-color: #0c3c60;
        color: #ffffff; 
        padding: 15px;
        border-radius: 50%;
      }

      .chat
      {
       
       background-position: bottom;
       position: absolute;
       bottom: 0;
       position: fixed;
       margin-bottom: 25px;

      }

      .fa-user
      {
        padding: 5px;
        padding-bottom: 0px;
        background-color: #6ea4ca;
        border-radius: 50%;
        color: #0c3c60;
        margin-right: 5px;
        position: relative;
        top: 3px;
      }

      #menu
      {
        margin-left: 50px;
      }

      .nav-container
      {
        padding-top: 15px;
        padding-bottom: 15px;
      }
